.app-bar {
  display: flex;

  &__title {
    flex-grow: 1;
    text-transform: uppercase;
  }

  &__right-content {
    width: 48px;
    margin-right: -12px;
  }

  &__left-content {
    width: 48px;
    margin-left: -12px;
  }
}