body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9; }

.text-uppercase {
  text-transform: uppercase; }

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center; }
